<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body>
		<h1>list of comment</h1>
		<ul>
			<% for(let comment of comments) { %>
			<li><%= comment.username %> - <%= comment.text %></li>
			<a href="/comments/<%= comment.id %>">detail</a>
			<a href="/comments/<%= comment.id %>/edit">Edit</a>
			<form action="/comments/<%= comment.id %>?_method=DELETE" method="post">
				<button type="submit">Delete</button>
			</form>
			<% } %>
		</ul>
		<a href="/comments/new">tambah</a>
	</body>
</html>
